USE [master]
GO
/****** Object:  Database [MvcCRUDDB]    Script Date: 08-01-2021 02:44:42 ******/
CREATE DATABASE [MvcCRUDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MvcCRUDDB', FILENAME = N'C:\Users\Lalit Ak Radadiya\MvcCRUDDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MvcCRUDDB_log', FILENAME = N'C:\Users\Lalit Ak Radadiya\MvcCRUDDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MvcCRUDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MvcCRUDDB]
GO
USE [MvcCRUDDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08-01-2021 02:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Category] [nchar](10) NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[Short Description] [nchar](10) NULL,
	[Long Description] [nchar](10) NULL,
	[Small Image] [nchar](10) NULL,
	[Lasrge Image] [nchar](10) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 08-01-2021 02:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nchar](10) NULL,
	[password] [nchar](10) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
