USE [master]
GO
/****** Object:  Database [CRUDDB]    Script Date: 08-01-2021 02:44:06 ******/
CREATE DATABASE [CRUDDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDDB', FILENAME = N'C:\Users\Lalit Ak Radadiya\CRUDDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUDDB_log', FILENAME = N'C:\Users\Lalit Ak Radadiya\CRUDDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDDB]
GO
USE [CRUDDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08-01-2021 02:44:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
	[Category] [nchar](10) NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[Short Description] [nchar](10) NULL,
	[Long Description] [nchar](10) NULL,
	[Small Image] [nvarchar](max) NULL,
	[Large Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
